/ .npmrc

// This is the name of the package that you will be publishing.
package = react-native-callkeep-devbase

// This is the email address that you will be using to publish the package.
// This email address must be associated with a valid npm account.
email = dan.do@devbase.us

// This is the homepage URL for the package.
// This URL will be displayed on the npm website when users view the package.
homepage = https://github.com/bionatus/react-native-callkeep

// This is the repository URL for the package.
// This URL will be used to download the package from npm.
repository = https://github.com/bionatus/react-native-callkeep

// This is the version of the package that you will be publishing.
version = 1.0.0

// This is the license for the package.
license = MIT

// This is the description for the package.
description = A React Native wrapper for the CallKeep API.

// This is the keywords for the package.
// These keywords will be used to search for the package on the npm website.
keywords = react-native, callkeep, voip

// This is the publish config for the package.
// This config tells npm how to publish the package.
publish = publish